/node_modules
/public/*
/.phpintel
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/robots.txt

/storage/secrets
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
package-lock.json
composer.lock
